@import "tailwindcss";

body {
  color: #DFB97C;
  background-color: #222;
}

@layer components {

  .button-primary {
    @apply font-bold rounded-2xl py-4 px-8 text-2xl border-1 border-[#DFB97C] bg-[#222] cursor-pointer  hover:bg-[#DFB97C] hover:text-[#222]
  }

  .button-secondary {
    @apply font-bold rounded-xl py-2 px-4 text-2xl border-1 border-[#DFB97C] bg-[#222] cursor-pointer hover:bg-[#DFB97C] hover:text-[#222]
  }

  .button-tertiary {
    @apply text-[#222] font-bold rounded-xl p-2 text-2xl border-1 border-[#222] bg-[#DFB97C] cursor-pointer
  }

  .border-gold {  
    @apply border-[#DFB97C] border
  }

  .background-gold {
    background-color: #DFB97C;

    &:hover {
      background-color: #DFB97C;
    }
  }

  .background-dark {
    background-color: #222;
  } 

  .selectionFix {
   
    option {
      &:hover {
        background-color: #DFB97C !important;
        color: #222 !important;    
      }

      &:checked {
        background-color: #DFB97C;
        color: #222;  
      }
    }
  }

}